body {
    background-color: #eee;
    color: #000
}

.gray {
    color: #323232 !important
}

.kqbackground {
    background-color: #fff
}

.container {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #fff
}

.kqcenter {
    text-align: center;
    vertical-align: middle !important
}

a {
    color: blue
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 63px
}

.back-to-top i {
    color: red;
    display: block;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, .075);
    text-align: center;
    font-size: 30px
}

.mautrang {
    color: #fff
}

.maudo {
    color: red !important
}

.dosam {
    color: #900
}

.mauxanh {
    color: blue
}

.maucam {
    color: #ffbf00
}

.camnhat {
    color: #ffeaa6
}

.mauden {
    color: #3c2f2f
}

.chu30 {
    font-size: 30px !important
}

.chu31 {
    font-size: 31px !important
}

.chu26 {
    font-size: 26px
}

.chu22 {
    font-size: 22px
}

.chu23 {
    font-size: 23px
}

.chu24 {
    font-size: 24px
}

.lodb {
    font-size: 22px !important;
    padding: 0 !important
}

.chu19 {
    font-size: 19px
}

.chu18 {
    font-size: 18px
}

.chu17 {
    font-size: 17px
}

.chu16 {
    font-size: 16px
}

.chu15 {
    font-size: 15px
}

.chu145 {
    font-size: 14.5px
}

.chu14 {
    font-size: 14px
}

.chu13 {
    font-size: 13px
}

.vietdam {
    font-weight: 700
}

.vietthuong {
    font-weight: 400
}

.vietnghieng {
    font-style: italic
}

.viethoa {
    text-transform: uppercase
}

.center {
    text-align: center
}

.kqvertimargin {
    margin-bottom: 2px !important
}

.kqvertimarginw {
    margin-bottom: 10px !important
}

.bkdivtitle {
    background-color: #ed1d27;
    color: #fff;
    padding: 1px 10px
}

.background-border {
    margin-bottom: 10px;
    background-color: #fff;
    border: solid;
    border-width: 1px;
    border-color: #7e7e7e
}

.nendosam {
    background-color: #900
}

.border {
    border: 1px solid #ddd
}

.bang_kqnhanh_bold_right {
    border-right: solid;
    border-right-color: #7e7e7e;
    border-right-width: 1px
}

.bang_kqnhanh_bold_left {
    border-left: solid;
    border-left-color: #7e7e7e;
    border-left-width: 1px
}

.bang_kqnhanh_bold_bottom {
    border-bottom: solid;
    border-bottom-color: #7e7e7e;
    border-bottom-width: 1px
}

.button-noborder {
    color: #333;
    background-color: #fff;
    border-color: #fff
}

.ghichu {
    padding-left: 15px
}

#doxoso .col-sm-offset-1 {
    width: 45%
}

#doxoso > form {
    padding-bottom: 2px
}

.mien2 {
    font-size: 14px;
    list-style: decimal !important;
    margin-left: -15px
}

.mien2 li {
    text-transform: lowercase
}

.mien2 li a {
    color: #000
}

.mien2 li p {
    margin: 0
}

.mien2 li p:first-letter {
    text-transform: uppercase
}

.mien2 li a:hover {
    color: #ed1d27;
    text-decoration: none
}

.qt .qtk-ganhon {
    margin-bottom: -15px
}

.hdsd {
    margin-top: 4px;
    margin-right: 6px
}

.daudong {
    padding-left: 25px
}

.left25 {
    margin-left: -25px
}

div.datepicker-months > table > tbody > tr > td, div.datepicker-years > table > tbody > tr > td {
    width: 180px
}

div#left_date div.datepicker-inline {
    width: 200px
}

nav#ketqua_head_menu {
    margin-left: -4px;
    margin-right: -4px
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 34px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px
}

.legend {
    margin-bottom: 5px;
    border-bottom: 0
}

.borderden {
    border: solid;
    border-width: 3px;
    border-color: #7e7e7e
}

.rolling-finished {
    color: green
}

.rolling-progress {
    color: orange
}

.rolling-notyet {
    color: #555
}

.vien {
    border: solid;
    border-color: #fff;
    border-width: 1px
}

.viento {
    border: solid;
    border-color: #fff;
    border-left-width: 3px;
    border-right-width: 6px
}

.table_invi {
    color: #fff
}

.huongdan {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ffeb3b
}

.canhbao {
    margin-bottom: -5px;
    background-color: #ffeb3b;
    padding-left: 10px
}

.modalsize {
    width: 735px
}

.news-board {
    padding-bottom: 15px
}

.news-board a {
    color: #000;
    line-height: 22px
}

.news-board a:hover {
    text-decoration: none;
    color: blue
}

.news-padding {
    padding: 5px 15px
}

.panel {
    margin-bottom: 10px !important
}

.panel-default {
    border-radius: 0 !important
}

.panel-heading {
    background-color: #ed1d27 !important;
    color: #fff;
    padding: 0;
    border-radius: 0
}

.panel-body {
    padding: 5px !important
}

.border0 {
    border: none
}

.pad0 {
    padding: 0 !important
}

.pad10 {
    padding: 10px !important
}

.pad5 {
    padding: 5px !important
}

.pad2 {
    padding: 2px !important
}

.scroll {
    overflow: scroll
}

.fl-r {
    float: right !important
}

.fl-left {
    float: left !important
}

.right-menu-item {
    padding: 2px 5px !important;
    width: 50%;
    vertical-align: middle !important
}

.right-menu-row {
    height: 40px
}

.right-menu-item a {
    font-size: 14px;
    color: #000
}

.right-menu-item a:hover {
    color: #ed1d27;
    text-decoration: none
}

.mar0 {
    margin: 0
}

.right-menu-title {
    padding: 7px 15px;
    font-size: 16px;
    color: #fff;
    margin: 0;
    font-weight: 400
}

.right-menu-title a {
    color: #fff
}

.right-menu-title a:hover {
    color: blue;
    text-decoration: none
}

.max-cau {
    float: left;
    padding-top: 10px
}

.pagination {
    margin: 0 !important
}

.footer-col {
    list-style: none;
    padding: 0
}

.footer-col a {
    text-decoration: none;
    color: #333;
    float: left
}

.footer-col a:hover {
    color: #ed1d27;
    text-decoration: none
}

.background-eee {
    background-color: #eee
}

.mainh1 {
    display: none
}

.menuh2 a {
    color: #fff
}

.menuh2 a:hover {
    text-decoration: none;
    color: #333
}

.menuh2 a:active {
    text-decoration: none;
    color: #333
}

#head_menu li a:hover {
    text-decoration: none;
    color: #333
}

.lefth2 {
    line-height: 25px;
    margin: 0
}

.martop10 {
    margin-top: 10px
}

.footerh3 {
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 1px
}

.newsh2 {
    margin: 0;
    padding: 5px;
    font-size: 25px !important
}

.newscontent {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px
}

.newscontent p img {
    max-width: 80% !important;
    text-align: center !important
}

.relatenews {
    margin: 5px;
    font-size: 16px;
    font-weight: 400
}

.relatenews a {
    color: #333
}

.relatenews a:hover {
    color: #c00;
    text-decoration: none
}

.newsh3 {
    clear: both;
    font-size: 22px;
    font-weight: 400
}

.news-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    float: left;
    padding: 10px 0
}

.news-list {
    font-size: 22px;
    color: #022e7d
}

.news_image {
    padding: 5px 0;
    width: 30%;
    float: left
}

.news_image img {
    width: 100%
}

.news-main {
    width: 70%;
    float: left;
    padding: 5px 5px 5px 15px
}

.news-main h4 {
    margin-top: 0 !important
}

.news-list:hover {
    text-decoration: none;
    color: #900
}

.des-list {
    color: #333
}

.tags-list {
    padding: 0;
    float: left;
    list-style: none
}

.tags {
    display: inline;
    background-color: #ccc;
    padding: 2px 5px;
    width: auto;
    margin: 2px
}

.link-tags {
    color: #333
}

.link-tags:hover {
    text-decoration: none;
    color: #900
}

.description {
    font-weight: 700;
    font-size: 16px
}

.more-news {
    float: right;
    font-size: 14px;
    color: #900
}

.more-news:hover {
    text-decoration: none;
    color: #333
}

.all-table {
    text-align: center;
    padding: 25px 0 !important
}

.all-table a {
    font-size: 18px !important
}

.tool-div {
    padding: 10px 0;
    width: 100%;
    float: left
}

.tool-result-title {
    width: 30%;
    float: left;
    padding: 10px 20px
}

.tool-result-box {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    width: 70%;
    float: left;
    min-height: 120px
}

.big-button {
    padding: 30px
}

.big-button button {
    padding: 20px
}

.tool-ul {
    width: 100%;
    margin: 0;
    padding: 10px;
    float: left;
    list-style: none
}

.tool-li {
    word-wrap: break-word;
    display: inline;
    padding: 1px;
    width: auto;
    margin: 2px
}

.red_box {
    border: 1px solid #ed1d27;
    margin-bottom: 10px
}

.mega_ul {
    margin: 10px auto;
    text-align: center;
    padding: 0
}

ul li.mega655_li:last-child {
    border: 4px solid #555;
    color: #fff !important;
    background: rgba(0, 0, 0, .5)
}

.mega655_li {
    list-style: none;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    padding: 5px;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    line-height: 40px;
    font-size: 27px;
    background: 0 0;
    color: #333 !important;
    border: 4px solid #ed1d27;
    margin: 0 5px
}

.mega_li {
    list-style: none;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    padding: 5px;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    line-height: 40px;
    font-size: 27px;
    background: 0 0;
    color: #333 !important;
    border: 4px solid #ed1d27;
    margin: 0 5px
}

.mega_keno_li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 25px;
    font-size: 18px;
    background: 0 0;
    color: #333 !important;
    margin: 0 5px
}

.mega_keno_li_odd {
    border: 4px solid #ed1d27
}

.mega_keno_li_even {
    border: 4px solid #444dbb
}

.indam {
    font-weight: 700
}

.mega_title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 5px;
    color: #ed1d27
}

.mega_sub {
    font-weight: 700;
    font-size: 16px;
    color: #0000cd;
    text-transform: none
}

.max4d_div {
    width: 31%;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 28px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    background: radial-gradient(circle at 5px 5px, #ffffff, #cacaca);
    border: 1px solid #ddd
}

.max4d_lable {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    margin-left: -1px;
    line-height: 30px;
    border-radius: 17px;
    text-align: center;
    border-right: 1px solid #ccc;
    background: 0 0;
    font-size: 24px;
    color: #353535;
    border: 1px solid #ccc
}

.max4d_value {
    color: #900;
    width: 105px;
    text-align: center;
    display: inline-block;
    line-height: 30px
}

.max4d_head {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-left: 0 5px
}

.title_row_4d td {
    border-bottom: 1px;
    font-weight: 700
}

li.rolling.success {
    background-color: #dff0d8
}

.blink {
    animation: blink 1s infinite
}

.sidebar-nav {
    background-color: #ed1d27;
    border-bottom: 1px solid #ddd
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
    outline: none
}

.sidebar-nav ul li, .sidebar-nav ul a {
    display: block
}

.sidebar-nav ul a {
    padding: 4px 15px;
    color: #000;
    font-weight: 500;
    border-top: 1px solid #dcdee3;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .05) inset
}

.sidebar-nav ul a.title {
    color: #fff;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400
}

.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
    color: #fff;
    text-decoration: none
}

.sidebar-nav ul ul a {
    padding: 7px;
    background-color: #fff
}

.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
    background-color: #fff;
    color: #ed1d27
}

.sidebar-nav-item {
    padding-left: 5px
}

.sidebar-nav-item-icon {
    padding-right: 5px
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0
}

.row.no-gutter [class*=col-]:not(:first-child), .row.no-gutter [class*=col-]:not(:last-child) {
    padding-right: 1px;
    padding-left: 0
}

table.table-kq-border tr td:first-child {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #7e7e7e
}

table.table-kq-border tr td:last-child {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #7e7e7e
}

table.table-kq-border thead tr:first-child th, table.table-kq-border thead tr:first-child td {
    border-top: solid !important;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #5784a9
}

table.table-kq-border tr:last-child td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #7e7e7e
}

table.table-kq-hover tbody td:hover:not(.cau-khong-ton-tai) {
    background-color: #ffbf00
}

table.table-kq-north-west > thead > tr:first-child td, table.table-kq-north-west > thead > tr:first-child th, table.table-kq-north > thead > tr:first-child td, table.table-kq-north > thead > tr:first-child th {
    font-size: 17px;
    color: #900;
    background-color: #fff
}

table.table-kq-north-west > tbody > tr td:first-child {
    width: 16%;
    vertical-align: middle;
    font-size: 16px;
    background-color: #fff;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #7e7e7e
}

table.table-kq-bold-border {
    border: 4px solid #7e7e7e
}

.lototructiep {
    font-size: 19px !important;
    font-family: arial
}

.giaiskq {
    font-size: 15px !important;
    font-family: arial
}

@media print {
    div.result_div .chu15 {
        font-size: 16px;
        font-weight: 400
    }

    div.result_div .chu19 {
        font-size: 19px;
        font-weight: 400
    }

    div.result_div .chu17 {
        font-size: 17px;
        font-weight: 400
    }

    div.result_div .maudo {
        font-size: 21px;
        font-weight: 700
    }
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 9px !important;
    padding-bottom: 0 !important;
    height: 38px !important;
    color: #fff !important
}

#ketqua_head_menu a:hover, #ketqua_head_menu li:hover {
    background-color: #44568c !important;
    max-height: 33px;
    color: #fff !important
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a, .sidebar-nav ul ul a.active, #ketqua_head_menu li.active {
    background-color: #44568c !important;
    max-height: 33px
}

#ketqua_head_menu .dropdown-menu a:hover {
    color: #fff
}

#ketqua_head_menu .nav#head_menu > li > a {
    padding: 8px 25px !important;
    font-size: 15px
}

#ketqua_head_menu .container-fluid {
    padding-left: 0;
    padding-right: 0
}

#ketqua_head_menu.navbar {
    border-radius: 0;
    min-height: 35px !important;
    max-height: 35px !important;
    background-color: #ed1d27 !important;
    background-color: green
}

#ketqua_head_menu .nav li .menuh2 {
    font-size: 15px !important;
    font-weight: 400;
    padding: 10px 25px;
    margin: 0
}

div.baloon-left {
    left: 3px
}

div.baloon-left a.toggle {
    text-align: left;
    color: #555
}

div.baloon-right {
    right: 3px
}

div.baloon-right a.toggle {
    text-align: right;
    color: #555
}

div.baloon {
    position: fixed;
    bottom: 3px;
    z-index: 1000
}

div.baloon img {
    border: solid;
    border-width: 1px;
    border-color: orange
}

div.baloon.inactive img {
    display: none
}