body {
    background: #f7fbff;
    margin: 0;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

body, table {
    color: #333;
}

.page-wrapper .page-content {
    padding-top: 0;
}

.pageTitle {
    display: block;
    padding: 0;
    margin-top: 15px;
}

.content-header > h1,
.pageTitle h5 {
    font-size: 20px;
    color: #000;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-right: 1px solid #e9eaec;
    padding-right: 20px;
    line-height: 1;
    font-weight: 300;
    text-transform: none;
}

.form select,
.form input[type="text"], .form input[type="password"], .form textarea {
    border-radius: 5px !important;
}

.input-group.date input[type="text"] {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    height: 30px;
}

.formRow select.my-input-class {
    width: 206px !important;
    border: 1px solid #DDD !important;
}

.input-group-addon {
    border-radius: 5px;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    border-radius: 50%;
}

.sidebar-wrapper .sidebar-brand {
    flex-direction: row-reverse;
}

.sidebar-wrapper .sidebar-brand > a {
    text-align: right;
}

.sidebar-wrapper .sidebar-header .user-info > span.user-name {
    text-transform: uppercase;
    color: #EFC531;
    display: flex;
}

.sidebar-wrapper .sidebar-header .user-info > span.user-name > span {
    flex: 1;
}

.chiller-theme .sidebar-wrapper {
    background: #32404E;
    /*background: linear-gradient(120deg, #2b3643 0%, #2b3643 100%);*/
}

.chiller-theme .sidebar-wrapper .sidebar-header {
    display: flex;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: none;
}

.sidebar-wrapper .sidebar-header .user-info {
    flex: 1;
}

.sidebar-wrapper .sidebar-header .user-info > span.user-name img {
    width: 15px;
    transform: scale(1.5);
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role, .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text, .chiller-theme .sidebar-wrapper .sidebar-brand > a, .chiller-theme .sidebar-wrapper .sidebar-menu ul li a, .chiller-theme .sidebar-footer > a {
    color: #8a8a8a;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 0;
}

nav ul li:first-child:hover {
    border-top: 0;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
nav ul > li {
    color: #b4bcc8;
    background-color: #32404E; /*#364150*/
    border: 0;
}

nav ul li:first-child,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul li:not(.active) {
    background: #364150;
}

nav ul li ul li.active {
    background: #364150;
    font-weight: 600;
    border: 0;
}

nav ul li.active {
    background: #57B846;
    border-top: 1px solid #57B846;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown:not(.active):hover {
    background: #3E4B5C;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown:not(.active):hover a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    border-radius: 50%;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu ul li.active > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    /*color: #EFC531 !important;*/
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 15px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li > a {
    padding-right: 10px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li:not(.active):hover {
    background: #43a047;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li:not(.active):hover a {
    color: #fafafa !important;
}

nav ul li:first-child, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul li:not(.active) a {
    color: #8a8a8a !important;
}

.button, button, input[type=submit], input[type=reset], input[type=button] {
    align-items: center;
    background-color: #57b846 !important;
    border: 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
    max-width: 480px;
    min-height: 32px;
    min-width: 0px;
    overflow: hidden;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;

    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.widget {
    border: 1px solid #e7ecf1;
}

.formRow label.formLeft {
    font-weight: normal;
    color: #000;
    display: block;
    text-align: right;
    padding-right: 10px !important;
    min-width: 125px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #43a047;
}

thead td {
    background: #FFF;
    color: #717171;
}

.mTable > thead > tr > td, .mTable > thead > tr > th,
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    background: #57B846;
    border-color: #43a047;
    vertical-align: top;
    word-break: break-word;
    border-top: 1px solid #43a047 !important;
    color: #FFF;
}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span,
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}

.pagination a {
    margin-right: 0;
    box-shadow: none;
    font-weight: normal;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #57B846;
    border-color: #57B846;
}

.pagination > .active:not(.first) > a {
    border-radius: 0;
}

.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 5px 13px;
    font-size: 16px;
}

.widget::-webkit-scrollbar {
    height: 10px;
}

label {
    font-weight: normal;
}

.horControlB ul li a {
    background: #57B846;
    border-radius: 25px;
}

.horControlB ul li a span {
    color: #FFF;
}

.input-group input#fromDate,
.input-group input#toDate {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form input.session-2 {
    width: 206px;
}

.btn {
    border-radius: 100px;
}

nav ul li.header-menu {
    display: none;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i {
    display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    left: 12px;
    top: 8px;
    right: auto;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    right: auto;
}

.modal-header .close {
    width: auto;
}

.sidebar-wrapper .sidebar-menu ul li a {
    padding: 8px 20px 8px 30px;
}

.page-wrapper.chiller-theme.toggled #close-sidebar,
.chiller-theme .sidebar-wrapper .sidebar-brand > a {
    color: #FFF;
}

.page-wrapper .page-content {
    padding-top: 0;
    background: #e7ebee;
    height: 100%;
}

.form input[type=text], .form input[type=password], .form textarea {
    padding: 7px 6px;
    border: 1px solid #DDD;
    width: 100%;
    font-family: Poppins-Medium;
    color: #666666;
    display: block;
    background: #e6e6e6;
}

.form select {
    background: #e6e6e6;
}

.form select:hover {
    background: #fff;
}

.titleArea .wrapper {
    display: flex;
    flex-direction: column;
}

.titleArea .wrapper .horControlB {
    text-align: left;
    margin-bottom: 0;
}

.horControlB.menu_action ul li {
    margin: 0;
    border-radius: 25px;
}

.form input[type=text]:focus, .form input[type=password]:focus, .form textarea:focus {
    border-color: #43a047 !important;
}

.chiller-theme .sidebar-footer {
    background: #43a047;
    border-top: 1px solid #43a047;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role, .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text, .chiller-theme .sidebar-wrapper .sidebar-brand > a, .chiller-theme .sidebar-wrapper .sidebar-menu ul li a, .chiller-theme .sidebar-footer > a {
    color: #FFF;
}

.sTable tbody tr,
.sTable tbody td {
    border-color: #43a047 !important;
}

.horControlB ul li a {
    text-decoration: none;
}

.pagination > li > a, .pagination > li > span {
    color: #43a047;;
}